POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_PORT=5432

REDIS_VERSION=7
REDIS_PORT=6379

RABBITMQ_VERSION=3.13-management
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

ELASTICSEARCH_VERSION=8.15.3
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

MERCURE_PORT=3000
MERCURE_JWT_SECRET=!ChangeThisMercureHubJWTSecretKey!
